In [17]:
import pandas as pd
from imblearn.over_sampling import SMOTE

In [61]:
# Cargar el dataset original
df = pd.read_csv("CANCERLUNG.csv")

In [63]:
# Convertir variables categóricas a numéricas (One-Hot Encoding)
X = pd.get_dummies(df.drop("LUNG_CANCER", axis=1))
y = df["LUNG_CANCER"]

In [65]:
# Aplicar SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

In [67]:
# Reconstruir el DataFrame balanceado
df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
df_resampled["LUNG_CANCER"] = y_resampled

In [69]:
df_resampled.head()

,AGE,GENDER_F,GENDER_M,SMOKING_No,SMOKING_Yes,YELLOW_FINGERS_No,YELLOW_FINGERS_Yes,ANXIETY_No,ANXIETY_Yes,PEER_PRESSURE_No,...,ALCOHOL_CONSUMING_Yes,COUGHING_No,COUGHING_Yes,SHORTNESS_OF_BREATH_No,SHORTNESS_OF_BREATH_Yes,SWALLOWING_DIFFICULTY_No,SWALLOWING_DIFFICULTY_Yes,CHEST_PAIN_No,CHEST_PAIN_Yes,LUNG_CANCER
0,65,False,True,False,True,False,True,False,True,True,...,False,True,False,True,False,True,False,False,True,NO
1,55,True,False,False,True,True,False,True,False,False,...,True,False,True,False,True,True,False,True,False,NO
2,78,True,False,True,False,True,False,False,True,False,...,True,False,True,True,False,False,True,False,True,YES
3,60,False,True,True,False,False,True,False,True,False,...,True,True,False,False,True,True,False,True,False,YES
4,80,True,False,False,True,False,True,True,False,False,...,True,False,True,False,True,False,True,True,False,NO

In [71]:
df_resampled = df_resampled.drop(['GENDER_M', 'SMOKING_No', 'YELLOW_FINGERS_No', 'ANXIETY_No','PEER_PRESSURE_No', 'CHRONIC_DISEASE_No', 'FATIGUE_No', 'ALLERGY_No', 'WHEEZING_No', 'ALCOHOL_CONSUMING_No', 'COUGHING_No', 'SHORTNESS_OF_BREATH_No', 'SWALLOWING_DIFFICULTY_No', 'CHEST_PAIN_No'], axis=1)

In [73]:
df_resampled.head()

,AGE,GENDER_F,SMOKING_Yes,YELLOW_FINGERS_Yes,ANXIETY_Yes,PEER_PRESSURE_Yes,CHRONIC_DISEASE_Yes,FATIGUE_Yes,ALLERGY_Yes,WHEEZING_Yes,ALCOHOL_CONSUMING_Yes,COUGHING_Yes,SHORTNESS_OF_BREATH_Yes,SWALLOWING_DIFFICULTY_Yes,CHEST_PAIN_Yes,LUNG_CANCER
0,65,False,True,True,True,False,False,True,False,False,False,False,False,False,True,NO
1,55,True,True,False,False,True,True,False,False,False,True,True,True,False,False,NO
2,78,True,False,False,True,True,True,False,True,False,True,True,False,True,True,YES
3,60,False,False,True,True,True,False,True,False,True,True,False,True,False,False,YES
4,80,True,True,True,False,True,True,False,True,False,True,True,True,True,False,NO

In [75]:
convertidor_x = {True: 2, False: 1}
convertidor_y = {'YES': 1, 'NO': 0}
df_resampled['LUNG_CANCER'] = df_resampled['LUNG_CANCER'].map(convertidor_y)
columnas = ['GENDER_F','SMOKING_Yes','YELLOW_FINGERS_Yes','ANXIETY_Yes','PEER_PRESSURE_Yes','CHRONIC_DISEASE_Yes','FATIGUE_Yes','ALLERGY_Yes','WHEEZING_Yes','ALCOHOL_CONSUMING_Yes','COUGHING_Yes','SHORTNESS_OF_BREATH_Yes','SWALLOWING_DIFFICULTY_Yes','CHEST_PAIN_Yes']
for i in columnas:
    df_resampled[i] = df_resampled[i].map(convertidor_x)

In [77]:
df_resampled.head()

,AGE,GENDER_F,SMOKING_Yes,YELLOW_FINGERS_Yes,ANXIETY_Yes,PEER_PRESSURE_Yes,CHRONIC_DISEASE_Yes,FATIGUE_Yes,ALLERGY_Yes,WHEEZING_Yes,ALCOHOL_CONSUMING_Yes,COUGHING_Yes,SHORTNESS_OF_BREATH_Yes,SWALLOWING_DIFFICULTY_Yes,CHEST_PAIN_Yes,LUNG_CANCER
0,65,1,2,2,2,1,1,2,1,1,1,1,1,1,2,0
1,55,2,2,1,1,2,2,1,1,1,2,2,2,1,1,0
2,78,2,1,1,2,2,2,1,2,1,2,2,1,2,2,1
3,60,1,1,2,2,2,1,2,1,2,2,1,2,1,1,1
4,80,2,2,2,1,2,2,1,2,1,2,2,2,2,1,0

In [79]:
# Guardar como archivo CSV
df_resampled.to_csv("DSCancerDePulmon.csv", index=False)

print("Archivo balanceado guardado como 'DSCancerDePulmon.csv'")

Archivo balanceado guardado como 'DSCancerDePulmon.csv'